a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 991px) {
  .navbar-collapse.collapse.show {
    margin-top: 20px;
  }
}

@media screen and (max-width: 991px) {
  nav {
    height: auto;
  }
}
.img-fluid {
  margin-left: 200px;
  width: 88px;
  height: 88px;
  top: 20px;
  padding: 2px;
  position: relative;
  border: #fff 1px solid;
  background-color: #fff;
  box-shadow: 2px 2px 8px 0 rgb(45 35 35 / 20%);
}

.l-navbar {
  height: 80px;
  margin-bottom: 0px;
  font-size: 14px;
  font-family: verdana;
  background-color: #fff;
  padding-left: 10%;
  box-shadow: 2px 2px 8px 0 rgb(45 35 35 / 20%);
}
.navbar-light .navbar-nav .nav-link {
  color: #333;
}
.input-group {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-box {
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid #666;
}
.input-group > .form-control,
.input-group > .form-select {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.mtn-search a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 150px;
}
