
a {
    text-decoration: none;
    color: white;
}

a:hover, a:active{
    color: lightgray;
}

.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-toolbar{
    border-radius: 3px;
    background-color: #FBFCFC;
}

@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}
.img-fluid{
    margin-left: 200px;
    width: 88px;
    height: 88px;
    top: 20px;
    padding: 2px;
    position: relative;
    border: #fff 1px solid;
    background-color: #fff;
    box-shadow: 2px 2px 8px 0 rgb(45 35 35 / 20%);
}