<!-- Toolbar -->
<app-header></app-header>
<div class="content" role="main">
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
<!-- <mat-sidenav-content>
  <app-header></app-header>
  <main>
    <router-outlet></router-outlet>
  </main>
</mat-sidenav-content> -->
<!-- Simple Slide-->
<!-- https://www.bennadel.com/blog/3877-creating-a-simple-slide-show-with-dynamic-keyframe-animations-in-angular-10-0-9.htm -->
<!--https://www.c-sharpcorner.com/article/create-image-slider-using-angular/-->
<!-- https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_slideshow_self -->

<!-- Angular -->
<!-- https://medium.com/showpad-engineering/angular-animations-lets-create-a-carousel-with-reusable-animations-81c0dd8847e8 -->
<!-- https://github.com/brampeirs/angular-carousel/blob/master/src/app/carousel/carousel.component.ts -->
