.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 600ms ease-in;
}
.fade-leave {
  opacity: 1;
}
.fade-leave-active {
  opacity: 0.01;
  transition: opacity 600ms ease-in;
}
.pt-image {
  margin-top: 70px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.card-sm-image {
  height: 104px;
  width: 96px;
  flex-direction: column;
  margin-top: 30px;
}
.pt-sm-image {
  align-items: center;
  display: flex;
  justify-content: center;
}
.pt-sm-card-title {
  margin-top: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.pt-card-title {
  margin-top: 70px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.pt-card-title h1 {
  height: 40px;
  width: 320px;
  color: #232323;
  font-family: "Work Sans";
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.2px;
  line-height: 58px;
  text-align: center;
}
.btn-start {
  margin-top: 70px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-action {
  align-items: center;
  border-radius: 5px;
  color: #232323;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.2px;
  opacity: 1;
  padding: 5px 10px;
  text-decoration: none;
  transition: opacity 0.4s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  height: 24px;
  width: 121px;
}
.card-action:hover {
  background-color: rgba(25, 25, 25, 0.1);
}
.right-btn{
    align-items: flex-end;
}
.left-btn{
    align-items: flex-start;
}